# Set this for the default basedir for relocatable packages
BASEDIR=/opt
CLASSES=none preserve
TZ=EST
PATH=/sbin:/usr/sbin:/usr/bin:/usr/sadm/install/bin
PKG=@@PKG@@
NAME=@@PKGNAME@@
VERSION=@@VERSION@@
CATEGORY=application
DESC=A distributed, highly available data store
VENDOR=Basho Technologies
EMAIL=riak@basho.com
PKGSAV=/var/sadm/pkg/@@PKG@@/save
