{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.
{lib_dirs, [".."]}.

{deps, [
        {erlang_js, "0\.3",
         {hg, "http://bitbucket.org/basho/erlang_js erlang_js", "74"}},
        {webmachine, "1.*", {hg, "http://bitbucket.org/basho/webmachine", "140"}},
        {riakc, ".*", {hg, "http://bitbucket.org/basho/riak-erlang-client riakc", "49"}},
        {bitcask, ".*", {hg, "ssh://hg@bitbucket.org/basho/bitcask", "151"}},
        {ebloom, "2", {hg, "http://bitbucket.org/basho/ebloom", "RELEASE_2"}},
        {protobuffs, ".*", {hg, "http://bitbucket.org/basho/protobuffs", "86"}}
       ]}.
