{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.
{lib_dirs, [".."]}.

{deps, [
        {erlang_js, "0.*", {hg, "http://bitbucket.org/basho/erlang_js erlang_js", "erlang_js-0.2"}},
        {webmachine, "1.*", {hg, "http://bitbucket.org/basho/webmachine", "tip"}},
        {ebloom, "2", {hg, "http://bitbucket.org/basho/ebloom", "RELEASE_2"}},
        {riakc, ".*", {hg, "http://bitbucket.org/basho/riak-erlang-client riakc", "tip"}}
       ]}.
