{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.
{lib_dirs, [".."]}.

{deps, [
        {erlang_js, ".*", {hg, "http://hg.basho.com/erlang_js", "tip"}},
        {webmachine, "1.*", {hg, "http://hg.basho.com/webmachine", "tip"}},
        {ebloom, ".*", {hg, "http://hg.basho.com/ebloom", "tip"}},
        {riakc, ".*", {hg, "ssh://hg@bitbucket.org/basho/riak-erlang-client riakc", "tip"}}
       ]}.

