%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% Packaging
%%
{package_name, "riak"}.
{package_install_name, "riak"}.
{package_install_user, "riak"}.
{package_install_group, "riak"}.
{package_install_user_desc, "Riak user"}.
{package_commands, {list, [[{name, "riak"}], [{name, "riak-admin"}], [{name, "search-cmd"}], [{name, "riak-debug"}]]}}.
{package_shortdesc, "Riak is a distributed data store"}.
{package_desc, "Riak is a distributed data store"}.
{bin_or_sbin, "sbin"}.
{package_patch_dir, "basho-patches"}.
{solaris_pkgname, "BASHOriak"}.
{license_type, "Apache 2"}.
{copyright, "2013 Basho Technologies, Inc"}.
{vendor_name, "Basho Technologies, Inc"}.
{vendor_url, "http://basho.com"}.
{vendor_contact_name, "Basho Package Maintainer"}.
{vendor_contact_email, "packaging@basho.com"}.
{license_full_text, "This file is provided to you under the Apache License,\n"
"Version 2.0 (the \"License\"); you may not use this file\n"
"except in compliance with the License.  You may obtain\n"
"a copy of the License at\n"
"\n"
"  http://www.apache.org/licenses/LICENSE-2.0\n"
"\n"
"Unless required by applicable law or agreed to in writing,\n"
"software distributed under the License is distributed on an\n"
"\"AS IS\" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY\n"
"KIND, either express or implied.  See the License for the\n"
"specific language governing permissions and limitations\n"
"under the License."}.
