%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% Packaging
%%
{package_name, "riak-ts-ee"}.
{package_replacement_line_debian, "Replaces: riak"}.
{package_conflicts_line_debian, "Conflicts: riak"}.
{package_install_name, "riak"}.
{package_install_user, "riak"}.
{package_install_group, "riak"}.
{package_install_user_desc, "Riak user"}.
{package_commands, {list, [[{name, "riak"}], [{name, "riak-admin"}], [{name, "search-cmd"}], [{name, "riak-repl"}], [{name, "riak-debug"}]]}}.
{package_shortdesc, "Riak is a distributed data store"}.
{package_desc, "Riak is a distributed data store"}.
{bin_or_sbin, "sbin"}.
{package_patch_dir, "basho-patches"}.
{solaris_pkgname, "BASHOriak-ts-ee"}.
{license_type, "Proprietary"}.
{copyright, "2016 Basho Technologies, Inc"}.
{vendor_name, "Basho Technologies, Inc"}.
{vendor_url, "http://basho.com"}.
{vendor_contact_name, "Basho Package Maintainer"}.
{vendor_contact_email, "packaging@basho.com"}.
{cuttlefish_conf, "riak.conf"}.
{license_full_text, "This software is provided under license from Basho Technologies"}.
