{sub_dirs, ["rel"]}.

{require_otp_vsn, "R13B04|R14"}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
       {cluster_info, "1.0.*", {git, "git://github.com/basho/cluster_info", {branch, "master"}}},
       {luwak, "1.*", {git, "git://github.com/basho/luwak", {branch, "master"}}},
       {riak_kv, "0.14.*", {git, "git://github.com/basho/riak_kv", {branch, "master"}}},
       {riak_err, "1.0.*", {git, "git://github.com/basho/riak_err", {branch, "master"}}}
       ]}.
