{sub_dirs, ["rel"]}.

{require_otp_vsn, "R13B04|R14"}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
       {cluster_info, "1.1.*", {git, "git://github.com/basho/cluster_info", {tag, "cluster_info-1.1.0"}}},
       {luwak, "1.*", {git, "git://github.com/basho/luwak", {branch, "luwak-1.0"}}},
       {riak_kv, "0.14.*", {git, "git://github.com/basho/riak_kv", {branch, "riak_kv-0.14"}}},
       {riak_err, "1.0.*", {git, "git://github.com/basho/riak_err", {tag, "riak_err-1.0.1"}}}
       ]}.
