%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{sub_dirs, ["rel", "apps/riak"]}.

{require_otp_vsn, "R16|17"}.
{cover_enabled, true}.

{lib_dirs, ["apps/riak"]}.

{erl_opts, [debug_info, fail_on_warning]}.
{eunit_opts, [verbose]}.

{erlydtl_opts, [
                {compiler_options, [report, return, debug_info]}
               ]}.

{deps, [
        {node_package, ".*", {git, "git://github.com/basho/node_package.git", {tag, "2.0.4"}}},
        {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog.git", {branch, "riak_ts-develop-1.2"}}},
        {cluster_info, ".*", {git, "git://github.com/basho/cluster_info.git", {tag, "2.0.3"}}},
        {riak_kv, ".*", {git, "git://github.com/basho/riak_kv.git", {branch, "riak_ts-develop-1.2"}}},
        {riak_search, ".*", {git, "git://github.com/basho/riak_search.git", {branch, "riak_ts-develop-1.2"}}},
        {riak_snmp, ".*", {git, "git@github.com:/basho/riak_snmp.git", {branch, "2.1"}}},
        {riak_jmx, ".*", {git, "git@github.com:/basho/riak_jmx.git", {branch, "2.1"}}},
        {riak_repl, ".*", {git, "git@github.com:/basho/riak_repl.git", {branch, "riak_ts-develop-1.2"}}},
        {riak_control, ".*", {git, "git://github.com/basho/riak_control.git", {branch, "riak_ts-develop-1.2"}}},
        {riaknostic, ".*", {git, "git://github.com/basho/riaknostic.git", {branch, "riak_ts-develop-1.2"}}},
        {yokozuna, ".*", {git, "git://github.com/basho/yokozuna.git", {branch, "riak_ts-develop-1.2"}}},
        {riak_auth_mods, ".*", {git, "git://github.com/basho/riak_auth_mods.git", {branch, "2.1"}}},
        {riakshell, ".*", {git, "git@github.com:/basho/riakshell.git", {branch, "develop"}}},
        {rebar_lock_deps_plugin, ".*", {git, "git://github.com/seth/rebar_lock_deps_plugin.git",
            "7a5835029c42b8138325405237ea7e8516a84800"}}
       ]}.

{plugins, [rebar_lock_deps_plugin]}.
