%% Linked-in driver config
%%
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
%%

{port_envs, [
             {"DRV_CFLAGS", "$DRV_CFLAGS -I c_src/system/include/js -DXP_UNIX"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/system/lib/libjs.a c_src/system/lib/libnspr4.a"},

             %% Define flags for enabling/disable 64 bit build of NSPR
             {"-32$", "NSPR_SIXTYFOUR", "--disable-64bit"},
             {"-64$", "NSPR_SIXTYFOUR", "--enable-64bit"},

             %% Solaris specific flags
             {"solaris.*-64$", "CFLAGS", "-m64"},
             {"solaris.*-64$", "LDFLAGS", "-m64"},

             %% OS X Leopard flags for 64-bit
             {"darwin9.*-64$", "CFLAGS", "-m64"},
             {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

             %% OS X Snow Leopard flags for 32-bit
             {"darwin10.*-32$", "CFLAGS", "-m32"},
             {"darwin10.*-32$", "LDFLAGS", "-arch i386"}
            ]}.
{port_pre_script, {"make -C c_src", ""}}.
{port_cleanup_script, "make -C c_src clean"}.

