%% Linked-in driver config
{so_name, "spidermonkey"}.
{port_envs, [{"CFLAGS",  "$CFLAGS -I c_src/include/js -DXP_UNIX"},
             {"LDFLAGS", "$LDFLAGS c_src/libjs.a c_src/libnspr4.a"}]}.
{port_pre_script, {"c_src/build_driver_deps.sh", "js"}}.
{port_cleanup_script, "c_src/build_driver_deps.sh jsclean"}.
