%% Linked-in driver config
%%
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
%%
%%{so_name, "spidermonkey_drv.so"}.
{port_envs, [ %% Reasonable defaults
             {"DRIVER_CFLAGS", "$DRIVER_CFLAGS -I c_src/include/js -DXP_UNIX"},
             {"DRIVER_LDFLAGS", "$DRIVER_LDFLAGS c_src/libjs.a c_src/libnspr4.a"},
             {"-32$", "NSPR_SIXTYFOUR", "--disable-64bit"},
             {"-64$", "NSPR_SIXTYFOUR", "--enable-64bit"},
             %% Spidermonkey's god awful build on Apple
             {"i\\d86-apple-darwin.*-64$", "JS_SIXTYFOUR", "-m64"},
             {"i\\d86-apple-darwin.*-64$", "JS_TOILET", "-arch x86_64"},
             %% Apple doesn't make building 64 bit binaries easy
             {"i\\d86-apple-darwin.*-64$", "CFLAGS", "$CFLAGS -m64"},
             {"i\\d86-apple-darwin.*-64$", "LDFLAGS", "$LDFLAGS -arch x86_64"},
             {"i\\d86-apple-darwin.*-64$", "DRIVER_CFLAGS",
              "$DRIVER_CFLAGS -m64 -I c_src/include/js -DXP_UNIX"},
             {"i\\d86-apple-darwin.*-64$", "DRIVER_LDFLAGS",
              "$DRIVER_LDFLAGS -arch x86_64 c_src/libjs.a c_src/libnspr4.a"},
             %% Solaris 10, LDFLAGS for Spidermonkey are handled via patches
             {".*-solaris2.1\\d-64$", "CFLAGS", "$CFLAGS -m64"},
             {".*-solaris2.1\\d-64$", "JS_SIXTYFOUR", "-m64"},
             {".*-solaris2.1\\d-64$", "JS_TOILET", "-m64"},
             {".*-solaris2.1\\d-64$", "LDFLAGS", "$LDFLAGS -m64"},
             {".*-solaris2.1\\d-64$", "DRIVER_LDFLAGS",
              "$DRIVER_LDFLAGS -lrt c_src/libjs.a c_src/libnspr4.a"}
            ]}.
{port_pre_script, {"c_src/build_driver_deps.sh", "js"}}.
{port_cleanup_script, "c_src/build_driver_deps.sh clean"}.
