{require_otp_vsn, "R14B0[234]|R15"}.

{erl_opts, [
  {src_dirs, [src, intercepts, tests]},
  warnings_as_errors, 
  {parse_transform, lager_transform}
]}.

{deps, [
      {lager, ".*", {git, "git://github.com/basho/lager", {tag, "1.2.2"}}},
      {riak_test, ".*", {git, "git://github.com/basho/riak_test", {branch, "jd-riak-integ2"}}}
       ]}.

