#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

package=riak

CFLAGS=
LDFLAGS=


build:
	cp -f debian/vars.config rel/vars.config
	cp rel/files/riak rel/files/riak.tmp
	sed -e "s/^RIAK_VERSION.*$$/RIAK_VERSION=\"${VERSIONSTRING}\"/" < rel/files/riak.tmp > rel/files/riak && \
	unset CC CFLAGS CPPFLAGS LDFLAGS CXX CXXFLAGS \
		&& make rel
	touch build

clean: 
	dh_clean
	rm -f build
	make clean

install: build
	dh_testdir
	dh_testroot
	dh_prep   --exclude ./deps/erlang_js/Makefile.orig
	dh_installdirs
	cp -R rel/riak/lib debian/$(package)/usr/lib/riak
	cp -R rel/riak/releases debian/$(package)/usr/lib/riak
	cp -R rel/riak/erts* debian/$(package)/usr/lib/riak
	chmod 0755 debian/$(package)/usr/lib/riak/erts*/bin/*
	install -p -D -m 0644 doc/man/man1/riak.1.gz \
		debian/$(package)/usr/share/man/man1/riak.1.gz
	install -p -D -m 0644 doc/man/man1/riak-admin.1.gz \
		debian/$(package)/usr/share/man/man1/riak-admin.1.gz
	install -p -D -m 0644 doc/man/man1/search-cmd.1.gz \
		debian/$(package)/usr/share/man/man1/search-cmd.1.gz
	install -p -D -m 0755 rel/riak/bin/riak \
		debian/$(package)/usr/sbin/riak
	install -p -D -m 0755 rel/riak/bin/riak-admin \
		debian/$(package)/usr/sbin/riak-admin
	install -p -D -m 0755 rel/riak/bin/search-cmd \
		debian/$(package)/usr/sbin/search-cmd
	install -m644 rel/$(package)/etc/app.config \
		debian/$(package)/etc/riak/app.config
	install -m644 rel/$(package)/etc/vm.args \
		debian/$(package)/etc/riak/vm.args
	install -m755 debian/debian_riak_init debian/$(package)/etc/init.d/riak

	dh_shlibdeps

binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_strip -a
	dh_compress -a
	dh_installdeb
	dh_gencontrol
	dh_builddeb

binary: binary-indep binary-arch
