% app.config
{ring_state_dir, "/var/lib/riak/ring"}.
{web_ip,       "127.0.0.1"}.
{web_port,     8098}.
{handoff_port, 8099}.
{pb_ip,        "127.0.0.1"}.
{pb_port,      8087}.
{bitcask_data_root, "/var/lib/riak/bitcask"}.
{sasl_error_log, "/var/log/riak/sasl-error.log"}.
{sasl_log_dir, "/var/log/riak/sasl"}.
% vm.args
{node,         "riak@127.0.0.1"}.
% bin/riak*
{runner_script_dir,  "/usr/sbin"}.
{runner_base_dir,    "/usr/lib/riak"}.
{runner_etc_dir,     "/etc/riak"}.
{runner_log_dir,     "/var/log/riak"}.
{pipe_dir,           "/tmp/riak/"}.
{runner_user,        "riak"}.

%% M/R related vars
{mapred_queue_dir, "/var/lib/riak/mr_queue"}.
{map_js_vms,   8}.
{reduce_js_vms, 6}.
{hook_js_vms, 2}.
