Source: {{package_name}}
Section: net
Priority: extra
Maintainer: {{vendor_contact_name}} <{{vendor_contact_email}}>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3
Homepage: {{vendor_url}}

Package: {{package_name}}
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, adduser, logrotate, sudo, {{deb_depends}}
Homepage: {{vendor_url}}
Description: {{package_shortdesc}}
  {{package_desc}}
{{package_replacement_line}}
{{package_conflicts_line}}
