[Unit]
Description={{package_shortdesc}}

[Service]
ExecStart=/usr/{{bin_or_sbin}}/{{package_install_name}} start
ExecStop=/usr/{{bin_or_sbin}}/{{package_install_name}} stop
User={{package_install_user}}
Type=forking
PIDFile=/var/run/{{package_install_name}}/{{package_install_name}}.pid
EnvironmentFile=-/etc/default/{{package_install_name}}
RuntimeDirectory={{package_install_name}}

[Install]
WantedBy=multi-user.target