%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% Platform-specific installation paths
{platform_bin_dir,  "{{platform_bin_dir}}"}.
{platform_data_dir, "{{platform_data_dir}}"}.
{platform_etc_dir,  "{{platform_etc_dir}}"}.
{platform_base_dir, "{{platform_base_dir}}"}.
{platform_lib_dir,  "{{platform_lib_dir}}"}.
{platform_log_dir,  "{{platform_log_dir}}"}.

{runner_script_dir,  "{{platform_bin_dir}}"}.
{runner_base_dir,    "{{platform_base_dir}}"}.
{runner_etc_dir,     "{{platform_etc_dir}}"}.
{runner_log_dir,     "{{platform_log_dir}}"}.
{runner_user,        "{{package_install_user}}"}.
{runner_lib_dir,     "{{platform_lib_dir}}"}.
{runner_patch_dir,   "{{platform_lib_dir}}/{{package_patch_dir}}"}.
{pipe_dir,           "/tmp/{{package_install_name}}/"}.
{package_replacement_line, "{{package_replacement_line_debian}}"}.
{package_conflicts_line, "{{package_replacement_line_debian}}"}.
