html {
	background-color: #323232;
}

body{
	padding:0;
	margin:0;
	width: 100%;
	height: 100%;
	position: relative;
}

div#cache, div#templates {
	display: none;
}

div#main{
	width: 900px;
	margin: 0 auto;
	position: relative;
}

div#groups {
    width: 750px;
    margin: 0 75px;
    position: relative;
}

div#board {
	position: relative;
	clear:both;
	width: 100%;
	height: 100%;
}

div#icons {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50px;
}

div.add {
	position:relative;
	z-index: 999999999;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: transparent url('/images/add.png') 0 0 no-repeat;
}

div.add:hover {
	background: transparent url('/images/add_hover.png') 0 0 no-repeat;
}

div.trash {
	position: relative;
	float: right;
	width: 50px;
	height: 50px;
	background: transparent url('/images/trash.png') 0 0 no-repeat;
}

div.trash-active {
	background: transparent url('/images/trash_active.png') 0 0 no-repeat;
}

div.trash-hover {
	background: transparent url('/images/trash_hover.png') 0 0 no-repeat;
}

div.group {
    width: 80px;
    height: 25px;
    padding: 5px 10px;
    margin: 0 1px;
    margin: 0;
    background-color: #666;
    float:left;
}

div.group.active {
    background-color: #999;
}

div.group input {
    cursor: text;
    overflow: hidden;
    font-size: 18px;
    font-weight: normal;
    font-family: "Comic Sans MS", "DejaVu Sans Mono";
    width: 80px;
    height: 40px;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    color: #fff;
}

div#groups div.new {
    float:left;
    height: 25px;
    background-color: #444;
    font-size: 24px;
    padding: 5px 10px;
    color: #fff;
}

div#groups div.new:hover {
    background-color: #666;
    cursor: pointer;
}

div.note {
	position:absolute;
	top: 50px;
	cursor: move;
	text-align: center;
	width: 275px;
	height: 270px;
	padding: 20px 0 0 0 ;
}

div.note textarea {
	cursor: text;
	overflow: hidden;
	font-size: 18px;
	font-weight: normal;
	font-family: "Comic Sans MS", "DejaVu Sans Mono";
	width: 230px;
	height: 210px;
	margin: 0 auto;
	border: none;
	background-color: transparent;
}

div.note.pink {
	background: transparent url('/images/postit_pink.png') 0 0 no-repeat;
}

div.note.yellow {
	background: transparent url('/images/postit_yellow.png') 0 0 no-repeat;
}

div.note.green {
	background: transparent url('/images/postit_green.png') 0 0 no-repeat;
}

div.note.blue {
	background: transparent url('/images/postit_blue.png') 0 0 no-repeat;
}

div.note.pink textarea {
	color: #40176b;
}

div.note.yellow textarea {
	color: blue;
}

div.note.green textarea{
	color: #364457;
}

div.note.blue textarea{
	color: #424242;
}

div.picker {
	position:absolute;
	cursor: pointer;
	top: 0;
	left: 240px;
	width: 10px;
	height: 10px;
	padding: 5px;
	background: transparent url('/images/color_picker.png') 50% 50% no-repeat;
}

div.picker:hover {
	background: transparent url('/images/color_picker_hover.png') 50% 50% no-repeat;
}
