%%% -*- erlang -*-

[{os_mon,
     [{start_disksup,false},
      {start_memsup,true},
      {start_os_sup,true},
      {start_cpu_sup,true}]},
 {yokozuna,
     [{aae_throttle_limits,
          [{-1,0},
           {500,10},
           {1000,50},
           {5000,250},
           {10000,1000},
           {50000,3000}]},
      {aae_throttle_enabled,true},
      %% {cover_tick,5000},
      %% {solr_tick,10000},
      {anti_entropy,{on,[]}},
      {anti_entropy_data_dir,"./data/yz_anti_entropy"},
      {anti_entropy_tick,120000},
      {enable_dist_query,true},
      {enabled,false},
      {err_thresh_fail_count,3},
      {err_thresh_fail_interval,5000},
      {err_thresh_reset_interval,30000},
      {fuse_ctx,async_dirty},
      {ibrowse_max_pipeline_size,10},
      {ibrowse_max_sessions,100},
      {root_dir,"./data/yz"},
      {solr_ed_request_timeout,120000},
      {solr_jmx_port,10003},
      {solr_jvm_opts,"-Xmx512m"},
      {solr_port,10004},
      {solr_request_timeout,60000},
      {solr_startup_wait,30},
      {solrq_batch_flush_interval,2000},
      {solrq_batch_max,500},
      {solrq_batch_min,10},
      {solrq_drain_cancel_timeout,5000},
      {solrq_drain_enable,true},
      {solrq_drain_timeout,60000},
      {solrq_hwm,1000},
      {solrq_hwm_purge_strategy,purge_one},
      {temp_dir,"./data/yz_temp"}]},
 {riak_repl,
     [{fullsync_use_background_manager,true},
      {rt_heartbeat_timeout,15},
      {rt_heartbeat_interval,15},
      {rtq_max_bytes,104857600},
      {fullsync_on_connect,true},
      {max_fssink_node,1},
      {fssource_retry_wait,60},
      {max_fssource_soft_retries,100},
      {max_fssource_node,1},
      {max_fssource_cluster,5},
      {data_root,"./data/riak_repl/"},
      {proxy_get,disabled},
      {fullsync_interval,30}]},
 {riak_core,
     [{cluster_mgr,{"127.0.0.1",10006}},
      {schema_dirs, ["./share/schema"]},
      {default_bucket_props,
          [{last_write_wins,false},
           {allow_mult,false},
           {basic_quorum,false},
           {notfound_ok,true},
           {rw,quorum},
           {dw,quorum},
           {pw,0},
           {w,quorum},
           {r,quorum},
           {pr,0},
           {dvv_enabled,false},
           {n_val,3}]},
      {participate_in_coverage,true},
      {vnode_management_timer,10000},
      {use_background_manager,false},
      {enable_consensus,false},
      {platform_log_dir,"./log"},
      {platform_lib_dir,"./lib"},
      {platform_etc_dir,"./etc"},
      {platform_data_dir,"./data"},
      {platform_bin_dir,"./bin"},
      {dtrace_support,true},
      {disable_inbound_handoff,false},
      {disable_outbound_handoff,false},
      {handoff_port,10009},
      {handoff_ip,"127.0.0.1"},
      {ring_state_dir,"./data/ring"},
      {handoff_concurrency,2},
      {ring_creation_size,64},
      {job_accept_class,
          [{riak_kv,list_buckets},
           {riak_kv,list_keys},
           {riak_kv,map_reduce},
           {riak_kv,map_reduce_js},
           {riak_kv,secondary_index},
           {riak_kv,stream_list_buckets},
           {riak_kv,stream_list_keys},
           {riak_kv,stream_secondary_index},
           {yokozuna,query}]}]},
 {eleveldb,
     [{whole_file_expiry,true},
      {expiry_enabled,false},
      {cache_object_warming,true},
      {fadvise_willneed,false},
      {eleveldb_threads,71},
      {verify_compaction,true},
      {verify_checksums,true},
      {block_size_steps,16},
      {block_restart_interval,16},
      {sst_block_size,4096},
      {block_cache_threshold,33554432},
      {use_bloomfilter,true},
      {write_buffer_size_max,62914560},
      {write_buffer_size_min,31457280},
      {limited_developer_mem,true},
      {sync,false},
      {total_leveldb_mem_percent,70},
      {data_root,"./data/leveldb"},
      {compression,lz4},
      {delete_threshold,1000},
      {tiered_slow_level,0},
      {expiry_minutes,0}]},
 {riak_control,[{enabled,false},{auth,none}]},
 {bitcask,
     [{io_mode,nif},
      {expiry_grace_time,0},
      {small_file_threshold,10485760},
      {dead_bytes_threshold,134217728},
      {frag_threshold,40},
      {dead_bytes_merge_trigger,536870912},
      {frag_merge_trigger,60},
      {max_file_size,2147483648},
      {open_timeout,4},
      {data_root,"./data/bitcask"},
      {sync_strategy,none},
      {merge_window,always},
      {max_fold_age,-1},
      {max_fold_puts,0},
      {expiry_secs,-1},
      {require_hint_crc,true}]},
 {riak_sysmon,
     [{busy_dist_port,true},
      {busy_port,true},
      {port_limit,2},
      {process_limit,30},
      {gc_ms_limit,0},
      {schedule_ms_limit,0},
      {heap_word_limit,20055500}]},
 {riak_kv,
     [
{fsm_trace_enabled,false},
{allow_strfun,true},
      {bitcask_max_merge_size,107374182400},
      {bitcask_merge_check_jitter,0.3},
      {bitcask_merge_check_interval,180000},
      {aae_use_background_manager,false},
      {handoff_rejected_max,6},
      {handoff_use_background_manager,false},
      {max_siblings,100},
      {warn_siblings,25},
      {max_object_size,52428800},
      {warn_object_size,5242880},
      {secure_referer_check,true},
      {retry_put_coordinator_failure,true},
      {hook_js_vm_count,2},
      {reduce_js_vm_count,6},
      {map_js_vm_count,8},
      {anti_entropy_leveldb_opts,
          [{use_bloomfilter,true},
           {max_open_files,20},
           {write_buffer_size,4194304}]},
      {aae_throttle_enabled,true},
      {anti_entropy_data_dir,"./data/anti_entropy"},
      {anti_entropy_tick,15000},
      {anti_entropy_concurrency,2},
      {anti_entropy_expire,604800000},
      {anti_entropy,{on,[]}},
      {storage_backend,riak_kv_bitcask_backend},
      {anti_entropy_build_limit,{1,3600000}},
      {js_max_vm_mem,8},
      {js_thread_stack,16},
      {fsm_limit,50000},
      {object_format,v1},
      {vnode_md_cache_size,0}]},
 {riak_dt,[{binary_compression,1}]},
 {riak_api,
     [{pb_keepalive,true},
      {disable_pb_nagle,true},
      {pb_backlog,128},
      {http,
          [{{0,0,0,0,0,0,0,1},10008},
           {{127,0,0,1},10008}
          ]},
      {pb,[{"0.0.0.0",10007},{"::1",10007}]},
      {honor_cipher_order,true},
      {tls_protocols,['tlsv1.2']},
      {check_crl,true}]},
 {lager,
     [{error_logger_hwm,100},
      {error_logger_redirect,true},
      {crash_log_date,"$D0"},
      {crash_log_size,10485760},
      {crash_log_msg_size,65536},
      {handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{file,"./log/console.log"},
                {level,info},
                {size,10485760},
                {date,"$D0"},
                {count,5}]},
           {lager_file_backend,
               [{file,"./log/error.log"},
                {level,error},
                {size,10485760},
                {date,"$D0"},
                {count,5}]}]},
      {crash_log,"./log/crash.log"},
      {crash_log_count,5},
      {extra_sinks,
          [{object_lager_event,
               [{handlers,
                    [{lager_file_backend,
                         [{file,"./log/object.log"},
                          {level,info},
                          {formatter_config,
                              [date," ",time," [",severity,"] ",message,"\n"]}]}]},
                {async_threshold,500},
                {async_threshold_window,50}]}]}]},
 {sasl,[{sasl_error_logger,false}]}].
