%%
%% HOWTO RUN BASHO_BENCH AGAINST RIAK SEARCH:
%%
%% 1. Get the latest version of BashoBench. Compile it.
%%    hg clone http://hg.basho.com/basho_bench
%%
%% 2. Update the code_paths directory below. It will need to point to
%%    deps/stats in basho_bench, as well as a location where you can find
%%    bin/basho_bench_driver_riaksearch.beam
%%
%% 3. Download the fields.txt and terms.txt file:
%%    wget http://rusty.basho.com.s3.amazonaws.com/fields.txt
%%    wget http://rusty.basho.com.s3.amazonaws.com/terms.txt
%%
%% 4. Update the riaksearch_fieldfile and riaksearch_termfile
%%    locations below. Note that if you use relative paths, basho_bench
%%    actually runs in the tests/current directory, so you will need to
%%    configure the paths accordingly.
%%
%% 5. Update riaksearch_node with a new hostname. This is the hostname
%%    under which basho_bench will run.
%%
%% 5. Update riaksearch_cookie with the same cookie as  your Riak cluster.
%%
%% 6. Update riaksearch_nodes with a list of one or more of the nodes
%%    in your cluster. basho_bench will distribute the incoming calls to
%%    search:index_dir/N randomly between these nodes.
%%
%% 7. Update the value generator to shape your test. The first number
%%    is the maximum number of fields per document. The second number is
%%    the maximum number of terms per field.
%%
%% 8. Finally, run basho_bench: `basho_bench PATH_TO_THIS_CONFIG_FILE`
%%    

%%% RIAK SEARCH SETTINGS %%%

{riaksearch_node, 'bashobench@127.0.0.1'}.

{riaksearch_cookie, riak}.

{riaksearch_remotenodes, ['riaksearch@127.0.0.1']}.

{riaksearch_fieldfile, "/Users/rusty/Documents/Basho/basho_bench/fields.txt"}.

{riaksearch_termfile, "/Users/rusty/Documents/Basho/basho_bench/terms.txt"}.

{value_generator, {function, basho_bench_driver_riaksearch, valgen, [5, 20]}}.


%%% GENERAL SETTINGS %%%

{mode, max}.

{rng_seed, {25, 15, 16}}.

{duration, 10}.

{concurrent, 1}.

{report_interval, 10}.

{driver, basho_bench_driver_riaksearch}.

{key_generator, {uniform_int_str, 5000000}}.

{operations, [{index, 9}, {search, 1}]}.

{code_paths, ["deps/stats", "/Users/rusty/Documents/Basho/Search/rel/riaksearch/lib/riak_search"]}.
