{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.
{lib_dirs, [".."]}.

{erl_first_files, ["src/gen_nb_server.erl", "src/gen_server2.erl"]}.

{deps, [
        {mochiweb, "0.02", {hg, "http://bitbucket.org/basho/mochiweb", "115"}},
        {webmachine, "1.6.1", {hg, "http://bitbucket.org/basho/webmachine", "webmachine-1.6.1"}}
       ]}.
