{sys, [
       {lib_dirs, ["../apps"]},
       {rel, "riak", "0.8",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         runtime_tools,
         mochiweb,
         webmachine,
         riak
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, riak, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{rebar, [
         {empty_dirs, [
                       "data/dets",
                       "data/ring",
                       "log/sasl"
                      ]},

         {overlay, "overlay"}
         ]}.
