%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{sys, [
       {lib_dirs, ["../deps", "../deps/riak_search/apps"]},
       {rel, "riak", "1.2.0",
        [
         kernel,
         stdlib,
         sasl,
         public_key,
         ssl,
         riak_sysmon,
         os_mon,
         crypto,
         runtime_tools,
         erlang_js,
         mochiweb,
         webmachine,
         luke,
         basho_stats,
         bitcask,
         riak_core,
         riak_pipe,
         riak_kv,
         riak_search,
         riak_api,
         cluster_info,
         lager,
         riak_control,
         erlydtl,
         {folsom, load}
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, cluster_info, [{incl_cond, include}]},
       {app, erlang_js, [{incl_cond, include}]},
       {app, luke, [{incl_cond, include}]},
       {app, ebloom, []},
       {app, bitcask, [{incl_cond, include}]},
       {app, riak_core, [{incl_cond, include}]},
       {app, riak_pipe, [{incl_cond, include}]},
       {app, riak_kv, [{incl_cond, include}]},
       {app, riak_search, [{incl_cond, include}]},
       {app, eper, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, riak_control, [{incl_cond, include}]},
       {app, riak_api, [{incl_cond, include}]},
       {app, folsom, [{incl_cond, include}]}
      ]}.


{target_dir, "riak"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/riak", "bin/riak"},
           {template, "files/riak-admin", "bin/riak-admin"},
           {template, "files/search-cmd", "bin/search-cmd"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/cert.pem", "etc/cert.pem"},
           {template, "files/key.pem", "etc/key.pem"},
           {mkdir, "lib/basho-patches"},
           {copy, "../ebin/etop_txt.beam", "lib/basho-patches"}
          ]}.
