{sys, [
       {lib_dirs, ["../apps"]},
       {rel, "riak", "0.9",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         runtime_tools,
	 erlang_js,
         mochiweb,
         webmachine,
         luke,
         riak,
         riak_repl,
         riak_snmp
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, erlang_js, [{incl_cond, include}]},
       {app, luke, [{incl_cond, include}]},
       {app, riak, [{incl_cond, include}]},
       {app, riak_repl, [{incl_cond, include}]},
       {app, riak_snmp, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{rebar, [
         {empty_dirs, [
                       "data/dets",
                       "data/ring",
                       "data/snmp/agent/db",
                       "log/sasl"
                      ]},

         {overlay, "overlay"}
         ]}.
