%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% etc/app.config
%%
{ring_state_dir,    "data/ring"}.
{web_ip,            "127.0.0.1"}.
{web_port,          8098}.
{handoff_port,      8099}.
{pb_ip,             "127.0.0.1"}.
{pb_port,           8087}.
{bitcask_data_root, "data/bitcask"}.
{sasl_error_log,    "log/sasl-error.log"}.
{sasl_log_dir,      "log/sasl"}.

%%
%% etc/vm.args
%%
{node,         "riak@127.0.0.1"}.

%%
%% bin/riak
%%
{runner_script_dir,  "$(cd ${0%/*} && pwd)"}.
{runner_base_dir,    "${RUNNER_SCRIPT_DIR%/*}"}.
{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
{pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,        ""}.
