%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

% Platform-specific installation paths
{platform_bin_dir, "/opt/local/sbin"}.
{platform_data_dir, "/var/db/riak"}.
{platform_etc_dir, "/opt/local/etc/riak"}.
{platform_lib_dir, "/opt/local/lib/riak"}.
{platform_log_dir, "/var/log/riak"}.


%%
%% etc/app.config
%%
{web_ip,            "127.0.0.1"}.
{web_port,          8098}.
{handoff_port,      8099}.
{pb_ip,             "127.0.0.1"}.
{pb_port,           8087}.
{ring_state_dir,    "{{platform_data_dir}}/ring"}.
{bitcask_data_root, "{{platform_data_dir}}/bitcask"}.
{leveldb_data_root, "{{platform_data_dir}}/leveldb"}.
{sasl_error_log,    "{{platform_log_dir}}/sasl-error.log"}.
{sasl_log_dir,      "{{platform_log_dir}}/sasl"}.
{mapred_queue_dir,  "{{platform_data_dir}}/mr_queue"}.

%% riak_search
{merge_index_data_root,  "{{platform_data_dir}}/merge_index"}.

%% Javascript VMs
{map_js_vms,   8}.
{reduce_js_vms, 6}.
{hook_js_vms, 2}.

%%
%% etc/vm.args
%%
{node,         "riak@127.0.0.1"}.
{crash_dump,   "{{platform_log_dir}}/erl_crash.dump"}.

%%
%% bin/riak
%%
{runner_script_dir,  "{{platform_bin_dir}}"}.
{runner_base_dir,    "{{platform_lib_dir}}"}.
{runner_etc_dir,     "{{platform_etc_dir}}"}.
{runner_log_dir,     "{{platform_log_dir}}"}.
{pipe_dir,           "/tmp/riak/"}.
{runner_user,        "riak"}.
