/* global reset */
*{ margin: 0; padding: 0; }*
:focus, :active { outline: 0; }

body { font: .9em Georgia, "Times New Roman", Sans-Serif; background: #fff url(../images/bg.gif) repeat-x; color: #333; }
a { color: #A82A15; text-decoration: none; }
img { border: 0; }
h1 {  float: left; margin: 20px 0 50px; font-size: 4em; color: #fff; }
h2 { font-size: 2.4em; font-weight: normal; margin: 0 0 20px; }
h2 a:hover { background: #A82A15; color: #fff; }
.hr { color: #ccc; }
p  { margin: 5px 0 15px; line-height: 1.6em; }
#content { margin: 0 auto; width: 900px; }
#top { float: right; margin: 38px 0 30px 0;}
	#top li { list-style: none; display: inline; }
	#top li a { float: left; padding: 6px 20px; margin: 3px 2px 0 0; color: #ccc; }
	#top li a.current { color: #fff; background: #A82A15; }
	#top li a:hover { background: #808080; color: #fff; }
#intro { clear: both; padding: 15px 0 1px 20px; border: 1px solid #dedede; font-size: 1.3em; background: #eee; margin: 0 0 30px; }
#left { float: left; width: 830px; margin: 0 0 15px; }
#right { float: right; width: 0px; }
#right h3 { border-bottom: 1px solid #ccc; margin: 0 0 10px; }
#right img { margin: 0 3px 3px 0; border: 2px solid #eee; padding: 2px; }
#right li { list-style: none; }
	#right li a { display: block; border-bottom: 1px solid #ccc; padding: 5px 5px; }
#footer { clear: both; padding: 15px 0; border-top: 1px solid #ccc; }
	#r { float: right; }
dt { font-weight:bold; }
dd { margin: 0.5em 0 0.5em 1em; }	
