[Unit]
Description=Riak KV Database

[Service]
User=riak
ExecStartPre=+/usr/sbin/riakpre
ExecStart=/usr/sbin/riakrun start
ExecStop=/usr/sbin/riakrun stop
Type=forking
PIDFile=/run/riak/riak.pid
EnvironmentFile=-/etc/default/riak
RuntimeDirectory=riak

[Install]
WantedBy=multi-user.target
