%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%% Platform-specific installation paths
{platform_bin_dir,  "/usr/lib/riak/bin"}.
{platform_data_dir, "/var/lib/riak"}.
{platform_etc_dir,  "/etc/riak"}.
{platform_base_dir, "/usr/lib/riak"}.
{platform_lib_dir,  "/usr/lib/riak/lib"}.
{platform_log_dir,  "/var/log/riak"}.
{platform_gen_dir,  "/var/lib/riak"}.

{runner_script_dir,  "/usr/lib/riak/bin"}.
{runner_base_dir,    "/usr/lib/riak"}.
{runner_etc_dir,     "/etc/riak"}.
{runner_log_dir,     "/var/log/riak"}.
{runner_user,        "riak"}.
{runner_lib_dir,     "/usr/lib/riak/lib"}.
{runner_patch_dir,   "/usr/lib/riak/lib/patches"}.
{pipe_dir,           "/tmp/riak/"}.
{pid_dir,            "/run/riak/"}.
{package_replacement_line, ""}.
{package_conflicts_line, ""}.

{cluster_manager_ip,    "127.0.0.1"}.
{cluster_manager_port,  9080}.

{storage_backend,   "bitcask"}.

{sasl_error_log,    "{{platform_log_dir}}/sasl-error.log"}.
{sasl_log_dir,      "{{platform_log_dir}}/sasl"}.
{repl_data_root,    "{{platform_data_dir}}/riak_repl/"}.
{crash_dump,        "{{platform_log_dir}}/erl_crash.dump"}.
